<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{31,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,26}}</string>
				<key>sourceSize</key>
				<string>{31,26}</string>
			</dict>

			<key>bird(2).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{27,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,40}}</string>
				<key>sourceSize</key>
				<string>{27,40}</string>
			</dict>

			<key>bird(3).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,20}}</string>
				<key>sourceSize</key>
				<string>{35,20}</string>
			</dict>

			<key>bird(4).png</key>
			<dict>
				<key>frame</key>
				<string>{{28,67},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>

			<key>bird(5).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,21},{32,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,18}}</string>
				<key>sourceSize</key>
				<string>{32,18}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,128}</string>
			<key>textureFileName</key>
			<string>birds.png</string>
			</dict>
		</dict>
</plist>