<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,45}</string>
                <key>spriteSourceSize</key>
                <string>{120,45}</string>
                <key>textureRect</key>
                <string>{{1,66},{120,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,63}</string>
                <key>spriteSourceSize</key>
                <string>{120,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stones.png</string>
            <key>size</key>
            <string>{122,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de23f58cd121df55bbd38d99eca2ca88:8977b50d125540890893a9d4fcc3d7f4:e705c3ba29efe846a7dc7384233e52e5$</string>
            <key>textureFileName</key>
            <string>stones.png</string>
        </dict>
    </dict>
</plist>
