<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taurusattack(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{44,1},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taurusattack(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,51}</string>
                <key>spriteSourceSize</key>
                <string>{46,51}</string>
                <key>textureRect</key>
                <string>{{86,1},{46,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taurusattack(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taurusattack(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{1,61},{56,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taurusattack(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{88,54},{51,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taurusattack(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{46,57},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taurusattacks.png</string>
            <key>size</key>
            <string>{134,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2646f7593ba2f2b1b374ddb3b8b49826:9529099d93525a6ad0ac083bdd7d1cd2:ddc722e878716639058adddb7f79c3c9$</string>
            <key>textureFileName</key>
            <string>taurusattacks.png</string>
        </dict>
    </dict>
</plist>
