<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taurusmove(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{150,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taurusmove(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{54,1},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taurusmove(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taurusmove(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{102,1},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taurusmoves.png</string>
            <key>size</key>
            <string>{193,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb2e9f1890c916034532b338678b0bf:cef488914b6f2bce66e5f4ff0ecf843e:467973b4c6d2eba2cadf377f4f47ffb4$</string>
            <key>textureFileName</key>
            <string>taurusmoves.png</string>
        </dict>
    </dict>
</plist>
