<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explosion(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{289,302},{58,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,70},{58,75}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(10).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{144,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,9},{144,182}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(11).png</key>
			<dict>
				<key>frame</key>
				<string>{{145,391},{139,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{139,186}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(12).png</key>
			<dict>
				<key>frame</key>
				<string>{{145,578},{138,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,6},{138,188}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(13).png</key>
			<dict>
				<key>frame</key>
				<string>{{153,0},{128,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,9},{128,159}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(14).png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{123,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,7},{123,158}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(15).png</key>
			<dict>
				<key>frame</key>
				<string>{{284,739},{121,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,9},{121,154}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(16).png</key>
			<dict>
				<key>frame</key>
				<string>{{285,391},{118,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,5},{118,156}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(17).png</key>
			<dict>
				<key>frame</key>
				<string>{{289,159},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,3},{112,142}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(18).png</key>
			<dict>
				<key>frame</key>
				<string>{{284,894},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,1},{112,114}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(19).png</key>
			<dict>
				<key>frame</key>
				<string>{{397,894},{111,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{111,110}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(2).png</key>
			<dict>
				<key>frame</key>
				<string>{{402,159},{107,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,57},{107,130}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(3).png</key>
			<dict>
				<key>frame</key>
				<string>{{284,578},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,45},{122,160}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(4).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{152,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,27},{152,202}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(5).png</key>
			<dict>
				<key>frame</key>
				<string>{{145,767},{138,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,27},{138,189}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(6).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{144,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{144,203}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(7).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{144,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,10},{144,200}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(8).png</key>
			<dict>
				<key>frame</key>
				<string>{{145,203},{143,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{143,187}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

			<key>explosion(9).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{144,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,10},{144,183}}</string>
				<key>sourceSize</key>
				<string>{157,229}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>explosions.png</string>
			</dict>
		</dict>
</plist>